src/neuro/bingo_incubator/src/chord/analyses/libanalysis/pointsto/web/results.dtd

<!ENTITY % Mlist SYSTEM "Mlist.dtd">
<!ENTITY % Vlist SYSTEM "Vlist.dtd">
<!ENTITY % Hlist SYSTEM "Hlist.dtd">
<!ELEMENT results (groups, Mlist, Vlist, Hlist)>
<!ELEMENT groups (group)*>
<!ELEMENT group (query)*> 
<!ATTLIST group
	Xlower	CDATA	#REQUIRED
	Xupper	CDATA	#REQUIRED
	Y		CDATA	#REQUIRED
	Prob	CDATA	#REQUIRED
	Mids	IDREFS	#REQUIRED>
<!ELEMENT query EMPTY>
<!ATTLIST query
	Vid		IDREF	#REQUIRED
	Hid		IDREF	#REQUIRED>
%Mlist;
%Vlist;
%Hlist;
